*{
    margin:0;
    padding:0
}
.container{
    display:flex;
    padding:20px 70px;
    align-items: center;
}

.footer{
    background-color: black;
    gap: 60px;
}

.footer img{
    filter: invert(100%);
    width: 200px;
}

.two-column{
    width:25vw;
}

.two-column img{
    width: 600px;
    padding-bottom: 70px;
}



.banner{
    background-color: wheat;
}

button{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 200px;
    border:none;
    border-radius: 30px;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
}

footer li{
    list-style: none;
}
.inner-content{
    text-align: center;
}
.one-column{
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.header{
    background-color: rgb(78, 255, 187);
    justify-content: space-between;
}

.header img{
    width:50px;
}
.header .navbar{
    display: flex;
    font-size: 20px;
    color:red;
    list-style-type: none;
    gap: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header .navbar a{
    list-style: none;
}

.inner-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.inner-container p{
    text-align: center;
}

.inner-container img{
    width:175px;
}

.inner-container img:hover {
    opacity: 25%;
}

@media screen and (max-width: 600px) {
    .container{
        display: flex;
        padding: 20px 70px;
        align-items: center;
        flex-direction: column;
        gap:30px;
    }
    .two-column{
        width: 100vw;
        display: flex;
        align-items:center;
        justify-content:center;
    }
    button{
        font-size: 16px;
        width: 50vw;
    }
    .banner img{
        width: 50vw;
        height: fit-content;
    }
    .inner-container{
        justify-content: center;
    }

    .inner-container img{
        width: 75px;
    }
}

